[defaults]
lookup_plugins = ./plugins/lookup
host_key_checking = False
timeout = 30
callbacks_enabled = minimal, yaml, json, debug
stdout_callback = ansible.posix.debug
result_format = yaml
deprecation_warnings = False
ansible_python_interpreter = /usr/bin/python
[ssh_connection]
retries = 3